#content {
	width: 800px;
	margin: 0 auto;
	font: 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
	font: 24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 10px 0;
}

ul {
	list-style: none;
	width: 800px;
	margin: 0 auto;
	text-align: center;
	background-color: #333;
}

li {
	display: inline-block;
	margin: 15px 25px;
	text-decoration: none;
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #75BF00;
}