body {
	background-color: #eee;
}

#content {
	width: 700px;
	margin: 70px auto 0 auto;
	font: 12px 'Armata','Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
	font: 24px 'Armata', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 10px 0;
}

h2 {
	font: 18px 'Armata', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 5px 0;
}

pre {
	font: 14px 'Courier New', 'Courier';
	line-height: 140%;
}

ul {
	list-style: none;
	width: 100%;
	text-align: center;
	background-color: #333;
	position: fixed;
	top: 0;
}

li {
	display: inline-block;
	margin: 15px 25px;
	text-decoration: none;
	color: white;
}

a {
	color: white;
	text-decoration: none;
	font: 16px 'Armata', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
	font: 14px 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 5px 0;
	line-height: 130%;
}

a:hover {
	color: #75BF00;
}

#sidenav li:first-child {
	border-top: none;
}

#sidenav li {
	display: block;
	padding: 10px 0;
	margin: 0;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #333;
	text-align: center;
}

#sidenav ul {
	position: fixed;
	top: 70px;
	left: 20px;
	background-color: white;
	/*text-align: left;*/
	width: 200px;
	background-color: #fff;
	border-radius: 6px;
	overflow: hidden;
	border: 1px solid #333;
}

#sidenav a {
	color: #333;
}

#sidenav a:hover {
	color: #75BF00;
}
#scheduleTab {
  width: 680px;
  margin: 15px auto;
}
#scheduleTab .left {
  background: #f0f0f0;
  float: left;
  width: 210px;
  padding: 6px;
  border-right: 1px #333 solid;
}
#scheduleTab .right {
  float: right;
  width: 440px;
  padding: 6px;
}
.week {
  display: block;
  overflow: hidden;
  padding: 10px 0;
}
#scheduleTab > .details {
  padding: 6px;
  border: 0px;
}